# Server
PORT=3000
SESSION_SECRET=

# SIS ODBC Connection (Progress OpenEdge)
SIS_ODBC_CONNECTION_STRING=DRIVER={Progress OpenEdge 11.7 Driver};HOST=your-host;PORT=your-port;DB=SKYWARD;UID=your-username;PWD=changeme;DIL=0
